node_modules
notas.local.md
backend/venv
.history
.env
*.pyc
*.pyo
*.pyd
__pycache__/
backend/badges/migrations/
backend/badges_users/migrations/
backend/boosters/migrations/
backend/boosters_users/migrations/
backend/challenges/migrations/
backend/challenges_users/migrations/
backend/clubs/migrations/
backend/clubs_users/migrations/
backend/directs/migrations/
backend/follows/migrations/
backend/folders/migrations/
backend/leagues/migrations/
backend/leaderboards/migrations/
backend/leaderboards_users/migrations/
backend/lessons/migrations/
backend/lessons_users/migrations/
backend/notes/migrations/
backend/ratings/migrations/
backend/resources/migrations/
backend/streaks/migrations/
backend/tasks/migrations/
backend/tasks_users/migrations/
backend/tivi/migrations/
backend/users/migrations/
backend/media/