node_modules
notas.local.md
backend/venv
.history
.env
*.pyc
*.pyo
*.pyd
__pycache__/
badges/migrations/
badges_users/migrations/
boosters/migrations/
boosters_users/migrations/
challenges/migrations/
challenges_users/migrations/
clubs/migrations/
clubs_users/migrations/
directs/migrations/
follows/migrations/
folders/migrations/
leaderboards/migrations/
leaderboards_users/migrations/
lessons/migrations/
lessons_users/migrations/
notes/migrations/
ratings/migrations/
resources/migrations/
streaks/migrations/
tasks/migrations/
tasks_users/migrations/
tivi/migrations/
users/migrations/