{
    "**/*.{js,jsx,ts,tsx}": [
        "eslint --fix",
        "prettier --write",
        "eslint"
    ],
    // All css minus main.css
    "**/!(*.min).css": [
        "stylelint --fix",
        "prettier --write",
        "stylelint"
    ],

    
    "**/*.{json,md,yml,yaml,html}": [
        "prettier --write"
    ],
    "**/*.py": [
    ]
}