amqp==5.1.1
asgiref==3.7.2
billiard==4.1.0
celery==5.3.1
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
click==8.1.6
dj_database_url==0.4.1
django-localflavor==4.0
Django==4.2.3
djangorestframework-simplejwt==5.2.2
djangorestframework==3.14.0
dj_database_url==0.4.1
dnspython==2.4.1
drf-yasg==1.21.7
eventlet==0.33.3
gunicorn==21.2.0
greenlet==2.0.2
gunicorn==21.2.0
kombu==5.3.1
openai==0.27.8
prompt-toolkit==3.0.39
PyJWT==2.8.0
python-dotenv==1.0.0
python-stdnum==1.18
pytz==2023.3
six==1.16.0
sqlparse==0.4.4
validate-docbr==1.10.0
vine==5.0.0
wcwidth==0.2.6
whitenoise==6.5.0
django-cors-headers==4.2.0
psycopg==3.1.9
psycopg2==2.9.7 
Pillow==10.0.0
whitenoise==6.5.0
openai==0.27.8
python-dotenv==1.0.0
