@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'HandyCasualCondensed';
    src: url('src/assets/fonts/TTF/HandyCasualCondensed-Oblique.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('src/assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('src/assets/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('src/assets/fonts/Poppins/Poppins-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: theme('colors.mainBackground[200]');
    font-family: 'Poppins', sans-serif;

  }
#root {
    height: 100%;
    width: 100%;
}
#root > div[data-overlay-container="true"] {
    height: 100%;
}

.footerMask::after{
    content: "";
   position: absolute;
   inset: 0;
   z-index: -1;

   background: white;
   mask: linear-gradient(to bottom, transparent, white 25%);
   backdrop-filter: blur(4px);
}


.underline-space {
    display: inline-block;
    width: 150px;
    border-bottom: 2px dotted black;
    margin: 0 5px;
}


.pop {
    animation-duration: 1s;
    animation-name: animate-pop;
    animation-timing-function: cubic-bezier(.26, .53, .74, 1.48);
    animation-delay: 0.5s;

  }


  @keyframes animate-pop {
    0% {
      opacity: 0;
      transform: scale(0.5, 0.5);
    }
  
    100% {
      opacity: 1;
      transform: scale(1, 1);
    }
  }

  .fadeIn {
    animation-duration: 1s;
    animation-name: animate-fade;
    animation-fill-mode: backwards;
    animation-delay: 0.5s;
  }
      
  @keyframes animate-fade {
      0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .titleMove {
    animation-duration: 1s;
    animation-name: triangle-move;
    animation-fill-mode: forwards;
    animation-delay: 0.7s;

  }

  @keyframes title-move {
    0% {
      transform: translate(0, 0);
    }
    50% {
      transform: translate(0, 10px);
    }
    100% {
      transform: translate(0, 0);
    }
  }