@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
}
#root {
    height: 100vh;
}
#root > div[data-overlay-container="true"] {
    height: 100%;
}

.footerMask::after{
    content: "";
   position: absolute;
   inset: 0;
   z-index: -1;

   background: white;
   mask: linear-gradient(to bottom, transparent, white 25%);
   backdrop-filter: blur(4px);
}


