@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Nunito';
    src: url('../fonts/nunito/static/Nunito-Bold.ttf');
}

body {
    height: 100vh;
}
#root {
    height: 100vh;
}
#root > div[data-overlay-container="true"] {
    height: 100%;
}

